body {
    background-image: url('/assets/background.jpg'); 
    background-size:auto;
}

.navbar {
    box-shadow: 0px 10px 8px -6px rgba(0,0,0,.5);
}

.navbar-brand:hover {
    opacity: 0.8;
}

h2 {
    font-size: 40px;
    text-shadow:
    -0.5px -0.5px 0 #000,
    0.5px -0.5px 0 #000,
    -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;  
}

.form-group {
    font-size: larger; 
    text-align: center;
}

.form-control {
    font-size: larger;
}

.form-label.mt-4 {
    color: white;
}
 
.footer {
    background: rgba(4, 0, 10, 0); 
    width: 100%; 
    position: fixed; 
    left:0; 
    bottom:0; 
    color: white;
}

a {
    text-decoration: none;
}

span {
    color: purple;
}

#credits {
    text-align: right; 
    padding-right: 15px; 
    padding-top: 15px;
}

#submit-button {
    width: 100%;
}

#description-div {
    padding: 10px;
    background: rgba(4, 0, 10, 0.0);
    border-radius: 10px;
}

#form-container {
    background: rgba(4, 0, 10, 0.5);  
    padding: 10px;
    box-shadow: 0px 10px 8px -6px rgba(0,0,0,.5);
    border-radius: 10px;
}

#main-col {
    padding: 10px;
}

#photo-credit {
    font-size: 12px;
}

#social-div {
    padding: 5px;
}

#about-description-div {
    background: rgba(4, 0, 10, 0.8);
    color: white;
    width: 100%;
    box-shadow: 0px 10px 8px -6px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
    margin: 10px 10px 50px 10px;
}

@media only screen and (max-width: 720px) {
    body {
        background-image: url('/assets/background_mobile.jpg');
    }

    .footer {
        position: absolute;
        background: rgba(4, 0, 10, 0.7);
    }
}

@media only screen and (max-width: 320px) {
    .footer {
        display: none;
    }
}

@media only screen and (max-device-width: 1380px) {
    span {
        color: white;
    }

    #description-div
    {
        background: rgba(4, 0, 10, 0.5);
        color: white;
        width: 100%;
        box-shadow: 0px 10px 8px -6px rgba(0,0,0,.5);
    }

    #main-col {
        width: 100%;
        text-align: center;
    }

    #form-container {
        width: 100%;
    }

    #adv-left {
        width: 0px;
        display: none;
    }

    #adv-right {
        width: 0px;
        display: none;
    }

    h2 {
        font-size: 30px;
        text-shadow:
        -0.5px -0.5px 0 #000,
        0.5px -0.5px 0 #000,
        -0.5px 0.5px 0 #000,
        0.5px 0.5px 0 #000;  
    }
}
